<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Tourist Attraction</title>
    <link rel="stylesheet" href="/input.css">
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<h1>Add a new Tourist Attraction</h1>

<form th:action="@{/attractions/save}" th:object="${attraction}" method="post">

    <div>
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Enter name" required/>
    </div>

    <div>
        <label for="description">Description</label>
        <textarea id="description" th:field="*{description}" placeholder="Enter description" required></textarea>
    </div>

    <div>
        <label for="location">State</label>
        <input type="text" id="location" th:field="*{location}" placeholder="Enter state" required/>
    </div>

    <div>
        <label>Tags</label><br/>
        <div th:each="tag : ${allTags}" style="display:inline-block; margin-right:10px;">
            <label>
                <input type="checkbox" th:value="${tag}" th:field="*{tags}"/>
                <span th:text="${tag.name}"></span>
            </label>
        </div>
    </div>

    <div>
            <button type="submit">Ok</button>
            <button type="button" onclick="location.href='/attractions'">Cancel</button>
    </div>

</form>

</body>
</html>

