<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourist attractions</title>
    <link rel="stylesheet" href="/attractionListStyle.css">
    <link rel="stylesheet" href="/common.css">

</head>
<body>
<h1>Tourist Attractions</h1>

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>State</th>
        <th>📝</th>
        <th>♻︎</th>
        <th>🏷️</th>

    </tr>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}">Name</td>
        <td th:text="${attraction.description}">Description</td>
        <td th:text="${attraction.location}">State</td>
        <td>
            <a th:href="@{/attractions/{name}/edit(name=${attraction.name})}">
                <button type="button" class="edit-btn"> Edit</button>
            </a>
        </td>

        <td>
            <form th:action="@{/attractions/delete/{name}(name=${attraction.name})}" method="post">

              <button type="submit">Delete</button>
            </form>


        </td>

        <td>
            <a th:href="@{/attractions/{name}(name=${attraction.name})}">
            <button type="button"> Tags</button>
        </a>
        </td>
    </tr>
</table>
<a th:href="@{attractions/add}">
    <button type="button"> Add Attraction</button>

</a>
</body>
</html>
